<h2><%= repo.full_name %></h2>
<% if repo.conversion_complete? %>
  <p>
    Awesome. You're done.
  </p>

  <p>
    Don't forget to update your local checkouts!
  </p>
  <pre style="background: #f5f5f5;">
    <code>
git checkout <%= repo.conversion.old_default_branch_name %>
git branch -m <%= repo.conversion.old_default_branch_name %> main
git fetch --prune
git branch --unset-upstream
git branch -u origin/main
git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/main
    </code>
  </pre>

  <% if repo.conversion.old_default_branch_exists? %>
    <p>
      <%= button_to conversion_cleanup_path(owner: repo.owner, name: repo.name), method: :post do %>
        Cleanup old default branch ("<%= repo.conversion.old_default_branch_name %>")
      <% end %>
    </p>
  <% end %>
<% elsif repo.conversion_in_progress? %>
  <p>
    We're converting <%= repo.full_name %>'s default branch
    from <em><%= repo.conversion.old_default_branch_name %></em> to <strong><%= repo.conversion.new_default_branch_name %></strong>
  </p>

  <p><strong>Current Step:</strong> <%= repo.conversion.status.humanize %></p>
<% elsif repo.convertible? %>
  <p>
    Awesome. Let's convert <%= repo.full_name %>'s default branch
    from <em><%= repo.default_branch %></em> to <strong>main</strong>
  </p>

  <%= button_to conversion_path(owner: repo.owner, name: repo.name), method: :post do %>
    Convert
  <% end %>
<% else %>
  <%= repo.full_name %> is not convertible.
<% end %>
