<tr>
  <td>
    <%= link_to "https://github.com/#{repo.full_name}" do %>
      <%= repo.full_name %>
    <% end %>
  </td>
  <td>
    <%= repo.default_branch %>
  </td>
  <td>
    <%= repo.fork? ? 'Yep' : 'Nope' %>
  </td>
  <td>
    <%= repo.admin? ? 'Yep' : 'Nope' %>
  </td>
  <td>
    <% if repo.convertible? %>
      <%= link_to conversion_path(owner: repo.owner, name: repo.name) do %>
        Convert
      <% end %>
    <% elsif repo.conversion_in_progress? %>
      <%= link_to conversion_path(owner: repo.owner, name: repo.name) do %>
        🔄 (view)
      <% end %>
    <% elsif repo.conversion_complete? %>
      <%= link_to conversion_path(owner: repo.owner, name: repo.name) do %>
        ✅ (view)
      <% end %>
    <% else %>
      --
    <% end %>
  </td>
</tr>
