<!DOCTYPE html>
<html>
  <head>
    <title>Re. T.R.U.N.K.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Re. T.R.U.N.K.</h1>
    <h3>(Real Tool for Renaming yoUr Nogood Kode)</h3>
    <p>convert your default branch to "main"</p>
    <nav>
      <%= link_to_unless_current "Your Repos", repos_path %>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
