<!DOCTYPE html>
<html>
  <head>
    <title>Mainline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Remainline</h1>
    <h3>convert your default branch to "main"</h3>
    <nav>
      <%= link_to_unless_current "Repos", repos_path %>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
